
<!-- /templates/customers/login.liquid -->
 <div class="container my-5">
{%  form 'customer_login' %}  
<label for="emailAddress">Email Address</label>
<input type="email" name="customer[email]" class="form-control">
<label for="password">Password</label>
<input type="password" name="customer[password]" class="form-control">

<input type="button" value="Sign in" class="btn btn-primary btn-lg ">
{% endform %} 
</div>
{% comment %} <h2>Login</h2>
{% form 'customer_login' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="customer[email]" />

<label for="customer_password">Password</label>
<input type="password" name="customer[password]" />

<input type="submit" value="Sign In" />

{% endform %}

<h2>Forgot Password</h2>
{% form 'recover_customer_password' %}

{{ form.errors | default_errors }}

<label for="customer_email">Email Address</label>
<input type="email" name="email" />

<input type="submit" value="Submit" />

{% endform %} {% endcomment %}
