<div class="siderbar-section">
    {% for block in section.blocks %}
        {%  assign item = block.settings  %} 
        <div class="mb-4">
            <p>{{ item.image_text }}</p>
        </div>

    {% endfor %}
</div>


{%  schema  %}  
{
    "name":"Blog",
    "settings": [],
    "blocks": [
        {
            "name": "Blog Item",
            "type": "image",
            "settings": [
                {
                    "type": "text",
                    "id": "image_text",
                    "label": "Heading",
                    "default": "Heading"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label":"Image"
                }
            ]
        }
    ]
}
{% endschema %} 