<div class="container">
    <div class="accordion accordion-flush" id="accordionFAQ">
        {%  for block in section.blocks  %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="{{ block.id }}">{{ block.settings.title }}</h2>
            </div>
        
        {% endfor %} 
    </div>
</div>

{% schema %}
{
    "name": "FAQS New",
    "settings": [
        
        ],
        "blocks": [
            {
                "name": "faq item",
                "type": "faq",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Quetion",
                        "default": "Faq Title Example"
                    },
                    {
                        "type": "richtext",
                        "id": "answer",
                        "label": "Answer"
                    }
                ]

            }
        ],
        "presets":[
            {
                "name": "Faq New"
            }
        ]

}
{% endschema %} 