{% comment %}
  {% unless section.settings.disabled %}
{% endcomment %}

<section class="container">
  {% for product in collections[section.settings.feature_collection].products %}
   <div class="card">
       
  <a href="{{ product.url }}" >{{ product.title }}this </a> 

       <p>{{ product.price | | money_without_trailing_zeros }}</p> 
    </div>
  {% endfor %}
</section>

{% comment %}
  {% endunless %}
{% endcomment %}

{% schema %}
{
    "name": "Feature Collection",
    "class": "featured-collection-section",
    "settings": [
        {
            "type": "collection",
            "id": "feature_collection",
            "label": "Collection"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Feature Collection",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "category": "Collection",
            "name": "Feature Collection"
        }
    ]
}
{% endschema %}
