
<div class="container">
    <div class="accordion accordion-flush" id="accordionFAQ">
        {% for block in section.blocks %}
            <div class="accordion-item">
                <div class="accordion-header" id="{{ block.id }}">{{ block.settings.title }}</div>
                <p class="accordion-desctiption">{{ block.settings.answer }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "FAQ",
    "blocks": [
        {
            "name": "FAQ Items",
            "type": "faq",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "FAQ Title Example"
                },
                {
                    "type": "richtext",
                    "id": "answer",
                    "label": "Answer"
                }
            ]
        }
        ]
}
{% endschema %}