<section>
<h1>Slider Add </h1>
</section>
{%  schema  %}  
{
    "name":"slider",
    "settings":[
       {
        "type":"text",
        "id": "text_name",
        "label":"add Text"
       }
         
    ],
    "presets": [
        {
            "name": "slider"
        }
    ]
}
{% endschema %} 