<div class="page-width">
  <h1>This Slider imagess</h1>
  <div class="owl-carousel" id="slider-img">
<div class="slider-images">
   
   <img src="https://cdn.shopify.com/s/files/1/0578/6782/9337/files/cake2.jpg?v=1706860853">
   <img src="https://cdn.shopify.com/s/files/1/0578/6782/9337/files/WhatsApp_Image_2024-02-03_at_14.48.06_885ef068.jpg?v=1706952403">
   <img src="https://cdn.shopify.com/s/files/1/0578/6782/9337/files/fomal1.jpg?v=1706183600">
   <img src="https://cdn.shopify.com/s/files/1/0578/6782/9337/files/low_resolution_1.jpg?v=1700745437">
   <img src="https://cdn.shopify.com/s/files/1/0578/6782/9337/files/cake2.jpg?v=1706860853">
   </div>
</div>
</div>
{% schema %}
  {
    "name": "Tab slider",
    "settings": [],
     "presets": [
    {
    "name": "Tab Slider"
    }
]

  }
{% endschema %}