<section>
<h1>Slider Add </h1>
</section>
{%  schema  %}  
{
    "name":"slider",
    "type":"text",
    "settings":[
       {
        "type":"text",
        "id": "text_name",
        "label":"add Text"
       }
         
    ]
}
{% endschema %} 